@use 'abstracts' as *;

section.home-hero {
	@include keep-centered-in-parent;
	@include center-children-hor;
	overflow-x: hidden;
	position: relative;
	max-width: var(--hero-width);
	height: var(--hero-height);
	background-image: var(--gradient);
}

.hero-text {
	z-index: 1;

	.sub-heading {
		font-family: var(--secondary-font);
		font-weight: 400;
		font-size: 24px;
		color: white;
		margin-block: 1.5rem;
		text-align: center;
		margin-inline: 1rem;
	}

	.btn-default {
		margin: 0px auto 150px auto;
	}
}
