section.home-hero {
	position: relative;
	max-width: 3000px;
	height: 880px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to top right, #671d79, #0a1b7c);
	box-sizing: border-box;
	overflow-x: hidden;

	@import 'pattern-bg';
	@import 'text';
	@import 'stars';
	@import 'planets';
	@import 'hero-bg-swirls';
}
@import 'screen-sizes';
