@media (max-width: 768px) {
	.hero-text {
		h1 {
			font-size: 90px !important;
		}
		p {
			font-size: 16px !important;
		}
	}
}

@media (max-width: 576px) {
	.hero-text {
		h1 {
			font-size: 70px !important;
		}
	}
}
