.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;

	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: var(--primary-font);
		font-weight: 700;
		font-size: 105px;
		letter-spacing: -1.8px;
		color: white;
		line-height: 1;
		padding: 0;
		margin-inline: 1rem;
		text-align: center;
	}

	p {
		font-family: Montserrat, sans-serif;
		font-weight: 400;
		font-size: 18px;
		color: white;
		margin-top: 1.5rem;
		text-align: center;
		margin-inline: 1rem;
	}

	button {
		margin: 40px 0 120px;
		width: 220px;
		height: 50px;
		border-radius: 25px;
		font-family: Montserrat, sans-serif;
		background-color: #ff5e7e;
		font-weight: 600;
		text-decoration: none;
		border: none;
		color: white;
		box-sizing: border-box;

		letter-spacing: 1.54px;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.5s;
		white-space: nowrap;

		&:hover {
			transform: scale(1.05);
		}
	}
}
