section.home-footer {
	position: relative;
	height: 800px;
	max-width: 3000px;
	left: 50%;
	transform: translateX(-50%);
	background-image: linear-gradient(
		to bottom right,
		#0a1b7c,
		#671d79
	);

	@import './bg-swirls';
	@import './stars';
	@import './text';
	@import './wave';
}
@import './screen-sizes';
