.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.fade {
	opacity: 1 !important;
	pointer-events: auto !important;
}

.animate-top-line {
	background-color: #999 !important;
	transform: translateY(-4px) rotate(45deg);
}

.animate-bottom-line {
	background-color: #999 !important;
	transform: translateY(4px) rotate(-45deg);
}
