header {
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 2;

	.header-container {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 64px;

		.nav-wrapper {
			max-width: 1140px;
			width: 100%;
			padding-inline: 1.5rem;
			margin-inline: auto;

			.navbar {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				max-width: 1000px;
				margin: 0 auto;
				height: 64px;

				h1 {
					color: white;
					text-transform: uppercase;
					white-space: nowrap;
				}

				.navbar-menu {
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #f7f7f7;
					opacity: 0;
					pointer-events: none;
					transition: all 0.3s ease-in-out;

					.nav-buttons-wrapper {
						padding: 0;

						.nav-button {
							color: #999;
							font-family: Montserrat, sans-serif;
							font-weight: 400;
							font-size: 0.7rem;
							text-transform: uppercase;
							letter-spacing: 1px;
							cursor: pointer;
							list-style: none;
							text-align: center;
							margin: 0;
							margin-top: 1.5rem;
							cursor: pointer;
						}
					}
				}
			}

			.open-menu-button-wrapper {
				width: 32px;
				height: 32px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				z-index: 1;

				.open-menu-button {
					position: relative;
					width: 32px;
					height: 18px;
					font-size: 2rem;
					z-index: 1;

					.top-line,
					.bottom-line {
						position: absolute;
						width: 31px;
						height: 4px;
						border-radius: 25px;
						background-color: white;
						left: 0;
						transition: all 0.3s ease-in-out;
						transform-origin: 0% 50%;
					}

					.top-line {
						top: 0;
					}

					.bottom-line {
						bottom: 0;
					}
				}
			}
		}
	}
}

@import 'screen-sizes';
@import 'animations';
