* {
	margin: 0;
	padding: 0;
}

.new-body {
	background-color: black;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.planet-orbit {
	width: 1500px;
	height: 500px;
	background-color: lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
}

#planet-1 {
	border-radius: 50px;
	width: 100px;
	height: 100px;
	background-color: blue;
}
