:root {
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;

	--side-box-width-height: 20vw;
	--center-box-width-height: 25vw;
	--container-height: 30vw;
	--z-offset: 5vw;

	--gradient-color: rgb(254, 254, 254);
	--section-title-font-size: 60px;

	--sections-padding-block: 90px;
	--primary-font: 'Playfair Display', serif;
	--secondary-font: Montserrat, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html {
	position: relative;
}

body {
	overflow-x: hidden;
	width: 100vw;
}

body,
h1,
h2,
h3,
p {
	margin: 0;
}

@import './mix-ins';
@import './screen-sizes';
