@media (max-width: 1200px) {
	section.home-about
		.home-about-container
		.about-and-title-container
		.info-and-portrait-container {
		.img-container {
			width: 450px;
			min-width: 450px;
		}
	}
}

@media (max-width: 992px) {
	section.home-about
		.home-about-container
		.about-and-title-container
		.info-and-portrait-container {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;

		.left {
			padding-top: 2rem;
			text-align: center;
			p {
				padding-inline: 1rem;
			}
		}

		.img-container {
			min-width: 200px;
			width: 100%;
		}
	}
}

@media (max-width: 576px) {
	.home-about {
		padding-top: calc(--sections-padding-block - 45px);
		padding-bottom: 0 !important;
		.home-about-container {
			padding-inline: 50px !important;

			p {
				line-height: 2rem !important;
				padding: 0 !important;
			}
		}
	}
}
