@media (max-width: 1200px) {
	:root {
		--side-box-width-height: 25vw;
		--center-box-width-height: 32vw;
		--container-height: 40vw;
	}
}

@media (max-width: 992px) {
	:root {
		--side-box-width-height: 28vw;
		--center-box-width-height: 34vw;
		--container-height: 45vw;
	}
}

@media (max-width: 576px) {
	:root {
		--side-box-width-height: 70vw;
		--center-box-width-height: 70vw;
		--container-height: fit-conetent;
	}

	.home-projects {
		margin-top: 40px;
	}

	.projects-container,
	.scrollers {
		margin-top: 25px;
		flex-direction: column !important;

		.project,
		.scroller {
			margin-block: 1rem;
			position: static !important;
			transform: translateX(0) !important;
		}

		.project {
			box-shadow: 0px 0px 50px 10px rgba(40, 40, 40, 0.05) !important;
		}

		.right-project {
			margin-bottom: 45px;
		}
	}

	.scroll-buttons-container {
		display: none !important;
	}
}
